.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.titleBar {
    background: rgba(0,0,0,0.75);
    display: flex;
    flex-direction: row;
    font-size: max(1.5vw, 1.5vh);
    font-weight: bold;
    justify-content: space-between;
    margin: 0;
    padding: max(1vw, 1vh) max(2vw, 2vh);
}

.tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media screen and (max-width: 500px) {
    .tiles {
        flex-direction: column;
    }
}

.refreshButton {
    min-height: max(10vw, 10vh);
    min-width: max(10vw, 10vh);
    background-color: rgba(0,0,0,0.1);
    border: 0;
}